@tailwind base;
@tailwind components;
@tailwind utilities;

h2:after{
    @apply content-[""] w-6/12 h-px block bg-main-green mx-auto my-0;
}

.navbar-footer::before {
    @apply block content-[""] w-3/5 h-px bg-custom-dark mx-auto my-0;
}

.max-w-84{
    max-width: 21rem; /* 336px */
}

.max-w-160{
    max-width: 40rem; /* 640px */
}